/*Estilos de tu proyecto*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    background-color: #fff;
}

img {
    vertical-align: middle;
}

nav {
    position: fixed;
    padding: 10px 0;
    background-color: #2C3E50;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

#principal {
    float: left;
    font-size: 27px;
}

.link {
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

a.link:hover {
    color: #18BC9C;
}

#home {
    background-color: #18BC9C;
    padding-top: 130px;
    color: white;
}

#home h1 {
    font-size: 62px;
    margin: 20px;
}

#home h5 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-bottom: 80px;
}

#portfolio {
    padding: 100px 0;
}

#portfolio h2 {
    font-size: 40px;
    margin: 0;
}

#portfolio .star-size {
    color: #2C3E50;
}

#portfolio img {
    width: 90%
}







