/*Estilos de tu proyecto*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    font-size: 16px;
    background-color: #fff;
}

img {
    vertical-align: middle;
}

nav {
    position: fixed;
    padding: 10px 0;
    background-color: #2C3E50;
    width: 100%;
    text-align: center;
    line-height: 60px;
}

.color {
    background-color: #18BC9C;
}

#principal {
    float: left;
    font-size: 27px;
}

.link {
    font-size: 14px;
}

a {
    color: white;
    text-decoration: none;
}

a.link:hover {
    color: #18BC9C;
    transition: 4s;
}

#home,
#about {
    background-color: #18BC9C;
    padding-top: 130px;
    color: white;
}

#home h1 {
    font-size: 62px;
    margin: 20px;
}

#home h5 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    margin-bottom: 80px;
}

#portfolio {
    padding: 100px 0;
}

h2 {
    font-size: 40px;
    margin: 0;
}

#portfolio .star-size {
    color: #2C3E50;
}

#portfolio img {
    width: 90%;
}

#portfolio img:hover {
    opacity: .3;
    background-color: aqua;
    cursor: pointer;
    content: \f00e;
}

#about {
    padding-bottom: 100px;
}

#about p.info {
    width: 65%;
    font-size: 18px;
    line-height: 28px;
}

#about button {
    padding: 12px 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #fff;
    color: #fff;
    font-size: 19px;
    border-radius: 6px;
}

#contact {
    padding: 60px 20% 60px;
}

#contact form label {
    color: #18BC9C;
    font-size: 12px;
    display: none;
}

#contact form input,
#contact form textarea {
    border: none;
    width: 100%;
    height: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin-top: 6px;
}

::-webkit-input-placeholder {
    color: #b5b5b5;
}

#contact form textarea {
    height: 130px;
}

#contact form button {
    border: none;
    padding: 13px 20px;
    background-color: #18BC9C;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    margin: 10px 0;
}

footer {
    color: white;
}

footer p {
    width: 90%;
    margin: 0 auto;
}

footer a {
    color: #18BC9C;
}

footer a:hover {
    text-decoration: underline;
}

#enlaces {
    background-color: #2C3E50;
    padding: 30px 0;
}

#enlaces h3 {
    font-size: 23px;
}

#enlaces p:first-child {
    width: 
}

#enlaces p {
    font-size: 19px;
    line-height: 26px;
}
#copy {
    background-color: #233140;
    padding: 15px 0;
    font-size: 13px;
}
